/* Nombre	Color	Código HEX
Petrol Blue	Azul Profundo	#004E64
Coral Claro	Coral Suave	#FF6B6B
Gris Humo	Neutro Suave	#EDEDED
Arena Claro	Beige Ligero	#F9F7F3
Turquesa Soft	Acento fresco	#5FD4D4 */


/* Ajustes Generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6{
    color: #004E64;
    font-family: 'Rubik';
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}

h3{
    font-size: 2rem;
}

h5{
    font-size: 1.5rem;
}

section{
        padding: 12rem 5%;
        gap: 1rem;
        scroll-margin-top: 7rem;
}

p{
    font-family: "Karla";
    font-size: 1.3rem;
    line-height:1.8rem ;
    margin-bottom: 0.8rem;
    margin-left: 0.5rem;
    display: block;
}

button{
    font-family: 'karla';
    font-weight: bold;
    font-size: 1.3rem;
    border: #ff6b6b 2px solid;
    padding: 0.5rem;
    margin-top: 0.5rem ;
    border-radius: 10%;
    background-color: #004E64;
    color: #ff6b6b;
    cursor: pointer;
}

button:hover{
    border: #004E64 2px solid;
    padding: 0.5rem;
    margin-top: 0.5rem ;
    border-radius: 10%;
    background-color: #ff6b6b;
    color: #004E64;
}

button > a{
    color: #ff6b6b;
}

button a:hover{
    color: #004E64;
    text-decoration: none;
}

span{
    font-family: 'Karla';
    font-size: 1.3rem;
    line-height:1.8rem ;
    margin-bottom: 0.8rem;
    margin-left: 0.5rem;
    display: block;
}

iframe{
    border-radius: 1rem;

}

table{
    border: solid 0.2rem #004E64  ;
    border-collapse: collapse;
    border-spacing: 3px;
    width: 100%;
    text-align: left;
}

th{
    text-align: center;
    font-family: 'Rubik';
    font-size: 1.5rem;
    border: #004E64 solid 3px;
    color: #004E64;
    background-color: #ff6b6b;
}
td{
    border: #004E64 solid 3px;
    text-align: left;
    font-family: 'karla';
    font-size: 1.5rem;
    padding: 0.3rem;
}

.contenedor{
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 100%;
    grid-template-areas: 
    "cabecera"
    "Inicial"
    "Presentacion"
    "Destacado"
    "resenias"
    "contacto"
    "pie";
}

header{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
    z-index: 500;
}

.fondo2{
    background-color:#EDEDED ;
}

/* cabecera */


.Fila1{
    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    background-color:#004E64;
    color: #f9f7f3;
    font-size: 1.2rem;
    height: 2.8rem;
    align-items: center;
}

#viascontacto{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    gap: 1rem;
    font-family: 'Karla';
    align-items: center;
}

#viascontacto > a{
    color: #f9f7f3;
    text-decoration: none;
}

#viascontacto:hover, #viascontacto > a:hover{
    color: #ff6b6b;
}

#redes{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    gap: 3rem;
    font-family: 'Karla';
}

i:hover{
    color:#ff6b6b
}

.Fila2{
    display: flex;
    width: 100%;
    background-color: #f9f7f3;
    align-items: center;
    height: 4.5rem;
}

.subfila2b{
    width: 20%;
    display: flex;
    justify-content: center;
}


#logo{
    height: 4.5rem;
    margin-left: 5rem;
}

.menu{
    font-family: 'Karla';
    font-size: 1.5rem;
    display: flex; 
    width: 80%;
}

.menu-completo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.3rem;
    background-color: #f9f7f3;
    height: 4.5rem;
}

#menuItems{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-family: 'Karla';
    font-size: 1.5rem;
    list-style: none;
    align-items: center;
}

/* #menuItems > li, a{
    color: #004E64;
    text-decoration: none;
}

#menuItems > li, a:hover{
    color: #ff6b6b;
    text-decoration: underline;
} */


#hamburguesa{
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #004E64;
}

#icono-menu {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#icono-menu.fa-xmark {
    transform: rotate(90deg) scale(1.2);
    color: #ff6b6b; 
}

ul{
    list-style: none;
    text-decoration: none;    
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}

li{
    color:#004E64 ;
}


a{
    text-decoration: none;
    color:#004E64
}
a:hover{
    color: #ff6b6b;
    text-decoration: underline;
}

a > i {
    color: #ff6b6b;
}

/* principal */

#inicial{
    background-image: linear-gradient(to right,rgb(0 0 0 /.3),rgb(0 0 0 /.3)), url("../images/portadaGral.jpg");
    background-size: cover;
    height:75vh;
    width: 100%;
    display: flex;
    grid-area: "Inicial";
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 7rem;
}

.titular{
    padding: 4.5rem;
    display: flex;
    background-color: #004e644a;
    flex-direction: column;
}

.titular > h1{
    color: #EDEDED;
}

.titular > h4{
    color: #ec9e9e;
    font-size: 1.5rem;
}

#presentacion{
    grid-area: "presentacion";
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.vertical{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
    padding-bottom: 1.5rem;
}

#destacados{
    grid-area: "destacados";
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.dst{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: start;
}

.dst > h2 {
    border-bottom: #ff6b6b 0.25rem solid;
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 2.5rem;
}

.fotoCentrada{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 95%;
    object-fit: cover;
}
.dstpf{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: start;
    padding-top: 2rem;
}


.petfriendly{
    border-radius: 3rem;
    padding: 1.5rem;
    background-color:#ec9e9e;
}

#resenias{
    grid-area: "resenias";
    display: flex;
    flex-direction: column;
}
/* Reseñas */

.tituloResenia{
                display: flex;
                justify-content: center;
                padding-bottom: 2rem;                
}

.reseniaCards{
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
                row-gap: 7rem;
                column-gap: 3rem;
                display: grid;
                place-items: center;
}

.cardRes:hover {
    transform: translateY(-0.5rem)
}

.cardRes{
    background-color: #ff6b6b;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.5rem 0.5rem gray;
}

.cardRes > img{
                border-radius: 100%;
                width: 35%;
                margin-top: -15%;
                border: solid #004E64 0.2rem;
}

span > i{
    font-size: 1rem;
    color: white;
}

span > i:hover{
    color: white;
}

#contacto{
            grid-area: "presentacion";
            display: grid;
            gap: 1rem;
            padding-top: 10rem;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

/* Formulario */

.mensaje-section{
    padding: 2rem 5%;
    font-family: 'Karla', sans-serif;
    color: #004E64;
}

.mensaje-section h2{
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.mensaje-section p{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.formulario-contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
}

.form-columna{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.grupoFrm{
    display: flex;
    flex-direction: column;
}

.grupoFrm > label{
    font-family: 'Karla';
    font-size: 1.1rem;
    font-weight: bold;
    color: #004E64;
    margin-bottom: 0.3rem;
}

.grupoFrm > textarea{
    height: 15rem;
    resize: vertical;
    margin-bottom: 0.3rem;
    width: 100%;
    max-width: 25rem;
    font-size: 1.3rem;
}

.grupoFrm > input{
    height: 3rem;
    margin-bottom: 0.3rem;
    font-size: 1.1rem;
}

.grupoFrm input,
.grupoFrm textarea{
    border: 2px solid #004E64;
    border-radius: 0.5rem;
    padding: 0.8rem;
    font-family: 'Karla';
}

.form-boton{
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.bot > button{
    width: 25%;
    
    height: 3.5rem;

}

.form-boton > button {
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

input:focus, textarea:focus{
            background-color: #ec9e9e;
            color: #004E64;
}

.mapa{
        border: #004E64 0.3rem solid;
        border-radius: 1rem;
}

.flotante{
    width: 3.5rem;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1000;
}

/* footer */
.footer {
    background-color: #004E64;
    color: #fff;
    font-family: 'Karla', sans-serif;
    padding: 2rem;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
    align-items: start;
    margin-bottom: 1.5rem;
}

.enlaces, .legales{
    display: flex;
    flex-direction: column;
}

.footer .col img {
    width: 5rem;
}

.footer .col p,
.footer .col a {
    margin: 0.3rem 0;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.footer .col a:hover,
.footer .col i:hover {
    color: #ff6b6b;
}

.footer .redes {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.copy {
    text-align: center;
    border-top: 1px solid #fff;
    padding-top: 1rem;
    font-size: 0.9rem;
}


/* Página Tours */
#tours{
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    align-items: center;
}

#contTours{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.cardTours{
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding-bottom: 2rem;
    border: #004E64 solid 0.2rem;
    box-shadow: gray 0.3rem 0.3rem;
}

.cardTours:hover{
    transform: translateY(-0.5rem);
    background-color: #ec9e9e96;
}

.cardTours > img{
                border-radius: 2.9rem 2.9rem 0 0 ;
                margin-bottom: 2rem;
}

.cardTours > h3{
                border-bottom: #ff6b6b 0.4rem solid;
                margin-bottom: 0.5rem;
                text-shadow: 1px 1px #ff6b6b ;
}

.separaBotones{
                display: flex;
                flex-direction: column;  
                align-content: space-around;
                gap: 0.5rem;
}
.buttonCard{
    font-size: 1rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    background-color: #EDEDED;
    margin-top: 1rem;
    }

.buttonCard:hover{
    background-color: #004E64;
    color: #ff6b6b;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

#contTours2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

/* Carrito de Compras */
.carritoCompras {
    margin: 2rem auto;
    border: 1px solid #004E64;
    border-radius: 10px;
    padding: 1.3rem;
    width: 40%;
    background-color: #ec9e9e;
    color: #004E64;
}

.carritoCompras h3{
                justify-self: center;
}

.lista-carrito {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}


.lista-carrito li {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.3rem;
    padding: 0.3rem 0.7rem;
    font-family: 'Karla';
    font-size: 1.1rem;
    background-color: #f9f7f3
}

.lista-carrito li div {
    display: flex;
    gap: 0.3rem;
}

.btn-cantidad {
    padding:0.5rem 0.7rem;
    cursor: pointer;
    border: 1px solid #dc3545;
    border-radius: 0.3rem;
    margin-bottom: 0.3rem;
    background-color: #fff;
    color:#004E64;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.btn-cantidad:hover{
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
    background-color: #004E64;
    color: #ec9e9e;
}

.btn-eliminar {
    padding:0.5rem 0.7rem;
    cursor: pointer;
    border: 1px solid #dc3545;
    border-radius: 0.3rem;
    margin-bottom: 0.3rem;
    background-color: #dc3545;
    color:#fff;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.btn-eliminar:hover {
    padding:0.5rem 0.7rem;
    cursor: pointer;
    background-color: #ec9e9e;
    color: #dc3545;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.total-carrito,
.cantidad-carrito {
    font-weight: bold;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
} 


/* --- Punto de quiebre intermedio (Tablet) --- */
/* Pantallas menores o iguales a 1124px */
@media (max-width: 1124px) {

.Fila1, .subfila2b {
                    display: none;
}

#menuItems {
        display: none;
        position: absolute;
        top: 4.5rem;
        left: 0;
        width: 100vw;
        background-color: #ffffff;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 2rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 999;    
}

#menuItems.activo {
        display: flex;
}

#menuItems > li{
        padding: 0.3rem 1.5rem;
        border-bottom: 2px solid #ccc;
        text-align: left;
        width: 80%;
        margin: 0;
}

    #hamburguesa {
        display: block;
        position: relative;
        z-index: 1000;
        margin-left: 1rem;
}

    /* Contacto en una columna */
    #contacto {
        display: flex;
        flex-direction: column;
        padding: 4rem 2rem;
    }

    .formulario-contacto {
        display: flex;
        flex-direction: column;
    }

    .form-columna {
        width: 100%;
    }

    .form-boton {
        justify-content: center;
    }

    .mapa {
        margin-top: 2rem;
    }
}







/* Mobile: <=500px */
@media (max-width: 500px) {

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.1rem;
    }

    .titular {
        padding: 2rem;
    }

    #inicial {
        padding: 4rem 1rem;
    }

    .formulario-contacto {
        padding: 0;
    }

    .form-boton > button {
        width: 70%;
    }

    .cardRes {
        width: 90%;
    }

    .footer-content {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .footer .col {
        align-items: center;
        text-align: center;
    }

    .footer .redes {
        justify-content: center;
    }

    .dst,
    .dstpf {
        align-items: center;
        text-align: center;
    }
}
